<% const d=new Date() 
let year= d.getFullYear() %>
    <footer>
        <p class="copyright"> <%= year %> | CSE 340 App</p>
        <p>Edward Kenneth Badiola - BYU-Pathway</p>
        <li><a href="/inv/trigger-error">Test 500 Error</a></li>

    </footer>